$blue: #7db7f1;

.login-page {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: rgb(149, 213, 255);

  & .content {
    position: relative;
    top: 30px;
    max-width: 500px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 2%;

    & .row {
      width: 100%;

      & .col {
        width: 100%;
      }

      & .form-control {
         width: 100%;
      }
    }
  }
}

.error {
  position: relative;
  top: -20px;
  height: 0;
  color: red;
  font-size: 11px;
}
