<div class="news-block">
  <div *ngFor="let d of newsDisplay | filter:filteredString" class="news-line" (click)="showTheArticle(d)">
    <div class="news-line__img-block">
      <img *ngIf="d.urlToImage;else stub_photo" src="{{d.urlToImage}}" class="news-line__img" alt="PHOTO">
      <ng-template #stub_photo>
        <div class="absolute top-2/4 left-1/4">NO PHOTO AVAILABLE</div>
      </ng-template>
    </div>
    <div class="news-line__content-block">
      <h3 class="news__title mt-2 mb-2 font-bold">{{d.title}}</h3>
      <div class="news__content">
        <p>{{d.description}}</p>
        <div class="link-to-source">
          <a href={{d.url}} class="leading-10 text-sm">Read more in {{d.source.name}}</a>
        </div>

      </div>

      <p class="news__date">{{d.publishedAt | date:'medium'}} <span *ngIf="d.author">by {{d.author | titlecase}}</span> </p>
    </div>
    <div class="news-line__manage-block">
      <app-manage-block (edit)="editCardInfo()" (delete)="deleteCard()"></app-manage-block>
    </div>

  </div>

</div>
<app-more></app-more>
<app-news-card [theNews]="theNews"></app-news-card>
