$blue: #7db7f1;
$border: $blue;

:host {
  display: block;
}

.news-block {
  margin: 5px auto;
  width: 80%;
  height: 100%;
  overflow-y: auto;
}

.news-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid $border;
  overflow: auto;

  &__img-block {
    width: 30%;
  }

  &__content-block {
    width: 65%;
    padding: 0 20px;
  }

  &__manage-block {
    width: 15%;
    margin: auto;
  }
}

.news-line__img {
  display: block;
  width: 100%;
  font-size: 0;
}

.news__content {
  min-height: 30px;
  font-size: 10px;
}

.news__title {
  font-size: 16px;
}

.news__date {
  height: 8%;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 10px;
}

.search {
  position: relative;
  width: 300px;
  margin-bottom: 10px;

  & label {
    position: relative;
    left: 200px;
    height: 38px;
    text-transform: capitalize;
    font-weight: normal;
  }

  & input {
    position: absolute;
    left: 0;

  }
}
