<div class="top-bar">
  <div class="top-bar__input">
    <label for="logo">Aggregator Logo</label>
    <input type="checkbox" name="add-logo" id="logo">
  </div>
  <div *ngIf="inputLoginValue; else elseBlock">
    <span class="username"> {{inputLoginValue}} </span>
    <button (click)="logOut()" class="button log-out">Log out</button>
  </div>
  <ng-template #elseBlock>
    <div>
      <a [routerLink]="['/login']" class="button">Log in</a>
    </div>
  </ng-template>

</div>
<div class="top-title">
  <a [routerLink]="['/']">
<!--    <h1 #sourceSelect>{{sourceSelect.value}}</h1>-->
    <h1>Breaking News</h1>
  </a>
</div>
